.cabecalho{
    background-color: white;
    color: rgb(253, 3, 3);
    display: flex;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 24px;
}