.cabecalho{
    background: #b47b47;
padding: -30px 0;
}


.cabecalho-imagem{
width: 20%;
}

.item {
color: white;
font-weight: bold;
font-size: 22px;
display: inline;
margin: 0 0 0 150px;
}

.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;
color: white
}